body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

#question-image {
  width: 512px;
  height: auto;
}

input[type="radio"] {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 506px; /* Updated width */
  font-size: 28px; /* Updated font-size */
  margin-top: 10px;
}


button[type="submit"] {
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056B3;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.login-container {
  width: 100%;
  text-align: center;
}

.login-container h1 {
  font-size: 28px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 32px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: 0.3s;
}

button:hover {
  background-color: #45a049;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 30px;
}

.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #111;
}

.team-name {
  color: white;
}

.main-container {
  margin-top: 3rem;
}

.question-container {
  width: 512px;
  margin: 0 auto;
}
